# Imports

In [4]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

## Load data

In [14]:
data_path = "../Datasets/Forecasting_data.csv"
data = pd.read_csv(data_path)
data.head()
data.drop(columns=["Unnamed: 0"],inplace=True)
data["Time"] = pd.to_datetime(data["Time"])

In [6]:
data.tail()

       Unnamed: 0  Dish1  Dish2                     Time  Delivery
56978       56978    0.0    0.0  2018-06-30 21:25:04.000         0
56979       56979    0.0    0.0  2018-06-30 21:34:57.000         0
56980       56980    0.0    0.0  2018-06-30 21:45:19.000         1
56981       56981    0.0    0.0  2018-06-30 21:52:12.000         0
56982       56982    0.0    0.0  2018-06-30 22:20:19.000         1

In [15]:
dish1 = data[["Dish1"]]
dish1.set_index(data["Time"],inplace = True)

In [27]:
dish1 = dish1.resample(rule="D").sum()

In [31]:
dish1

            Dish1
Time
2018-01-02   27.0
2018-01-03   40.0
2018-01-04   51.0
2018-01-05   63.0
2018-01-06   54.0
...           ...
2018-06-26   39.0
2018-06-27   39.0
2018-06-28   37.0
2018-06-29   71.0
2018-06-30   48.0

[180 rows x 1 columns]